body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 120px;
}

.main {
    margin: 0 auto;
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo img {
    height: 80px;
}

.rede-sociais ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.rede-sociais ul li {
    display: inline-block;
}

.rede-sociais ul li a img {
    height: 40px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h1 {
    color: #27ae60;
}

.footer {
    background: grey;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
